<div class="item">
    
    <!--<input [id]="tarefa.descricao" type="checkbox" [checked]="tarefa.statusRealizada"
    (change)="tarefa.statusRealizada = !tarefa.statusRealizada; modificaTarefa.emit()" />-->
    <label [for]="tarefa.descricao">{{tarefa.descricao}}</label>
    <div *ngIf="!emEdicao" class="btn-wrapper">
    <!--<button class="btn" (click)="emEdicao = true ">Editar</button>
    <button class="btn btn-warn" (click)="removeTarefa.emit()">Remover</button>-->
    </div>
    <div *ngIf="emEdicao">
    <input class="sm-text-input" #editedItem placeholder="escreva o novo nome da tarefa
   aqui"
    [value]="tarefa.descricao" (keydown.enter)="tarefa.descricao=editedItem.value; emEdicao
    = false; modificaTarefa.emit()">
    <div class="btn-wrapper">
    <button class="btn" (click)="emEdicao = false ">Cancelar</button>
    <button class="btn btn-save" (click)="tarefa.descricao=editedItem.value; emEdicao
   = false; modificaTarefa.emit()">Salvar</button>
    </div>
    </div>
    <hr>
   </div>

<!--
     4:
    
    O código acima, define os seguintes elementos para ItemComponent:

• Um CHECKBOX para informar se a tarefa foi feita ou não
• Um LABEL com a descrição da tarefa
• Quando a Tarefa não estiver sendo editada:
    ◦ Um BUTTON para permitir editar a tarefa
    ◦ Um BUTTON para permitir remover a tarefa
• Quando a Tarefa estiver sendo editada:
    ◦ Um INPUT para definir a nova descrição da tarefa
    ◦ Um BUTTON para permitir cancelar a edição
    ◦ Um BUTTON para permitir salvar a alteração

    5: UPDATE, removi os botões de remover, editar e o checkbox , pra colocar denovo é só descomentar as parada

-->

    